<div class="row justify-content-center">
    <div class="col-md-6 alert alert-success text-center">
        <h2 class="fw-bold">Order Completed Successfully</h2>
        <p class="mb-3">You can check all your orders in the <strong>Orders</strong> section of your profile.</p>
        <hr>
        <p class="fw-semibold">Thank you!</p>
    </div>
</div>
